<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>学期管理</title>

    <style>
        .form-insert {
            width: 60%;
            max-width: 440px;
            padding: 15px;
            margin: auto;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand" href="#">教学管理平台</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" th:href="@{courses}">我的课表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{classes}">我的班级</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{semesters}">学期管理<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" th:text="${username}">username</a>-->
        <span th:text="${username}" class="navbar-text"></span>
        <form method="POST" th:action="@{/logout}" class="form-inline my-2 my-lg-0">
            <button class="btn btn-sm btn-outline-secondary" type="submit">登出</button>
        </form>
    </div>
</nav>


<form method="POST" th:action="@{updateSemester}" id="classForm" class="form-insert">
    <h1 class="h3 mb-3 font-weight-normal text-center">学期信息</h1>
    <div class="form-group">
        <label for="name">学期名：</label>
        <input type="text" name="name" id="name" class="form-control" th:if="${semester} == null" required autofocus/>
        <input type="text" name="name" id="name" class="form-control" th:if="${semester} != null" th:value="${semester.getName()}" required autofocus/>
    </div>
    <div class="form-group">
        <label for="startDate">开始日期：</label>
        <input type="date" name="startDate" id="startDate" class="form-control" th:if="${semester} == null" required autofocus/>
        <input type="date" name="startDate" id="startDate" class="form-control" th:if="${semester} != null" th:value="${#dates.format(semester.getStartDate(), 'yyyy-MM-dd')}" required autofocus/>
    </div>
    <div class="form-group">
        <label for="endDate">结束日期：</label>
        <input type="date" name="endDate" id="endDate" class="form-control" th:if="${semester} == null" required autofocus/>
        <input type="date" name="endDate" id="endDate" class="form-control" th:if="${semester} != null" th:value="${#dates.format(semester.getEndDate(), 'yyyy-MM-dd')}" required autofocus/>
    </div>
    <input type="hidden" name="id" th:value="${semester.getId()}" th:if="${semester} != null"/>
    <input type="submit" value="确认提交" class="btn btn-primary"/>
</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>