<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daisy.xxedu.mapper.TeacherMapper">
    <resultMap id="BaseResultMap" type="com.daisy.xxedu.entity.Teacher">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="school_id" jdbcType="INTEGER" property="schoolId"/>
    </resultMap>

    <select id="getTeacherById" parameterType="java.lang.Long" resultType="com.daisy.xxedu.entity.Teacher">
        select id, name, email, school_id
        from teacher
        where id = #{id}
    </select>

    <insert id="insert" parameterType="com.daisy.xxedu.entity.Teacher" keyProperty="id" useGeneratedKeys="true">
        insert into teacher(id, name, email, school_id)
        values (#{id}, #{name}, #{email}, #{schoolId})
    </insert>

    <delete id="deleteById">
        delete from teacher
        where id = #{id}
    </delete>

</mapper>